body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}

body>* {
   margin: auto;
}

a {
   color: #0000FF;
   text-decoration: underline;
}

a:visited {
   color: #800080;
}

a:active {
   color: #FF0000;
}

a:hover {
   color: #0000FF;
   text-decoration: underline;
}

input:focus,
textarea:focus,
select:focus {
   outline: none;
}

#PageHeader1 {
   /* background-color: #F5F5F5; */
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   display: flex;
   width: 100%;
}


input[type="submit"] {
   padding: 5px;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: auto;
   width: 126px;
   height: 59px;
}

.Button1:hover {
   cursor: pointer;
}

.inactiveButton {
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: auto;
   width: 126px;
   height: 59px;
   background-color: #575758;
}

.inactiveButton:hover {
   cursor: not-allowed;
}

#wb_Image {
   display: flex;
   margin: auto;
   justify-content: space-evenly;
   width: 70%;
   padding-top: 5vw;
   padding-bottom: 5vw;

}

.image {

   border: 0px solid #000000;
   border-radius: 0px;
   margin: auto;

   width: 12vw;
   height: 10vw;
}

#MediaPlayer1 {
   width: 80vw;
}



#wb_MediaPlayer1 {
   display: flex;
}


/* Add Animation */
@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}