body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}

body>* {
   margin: auto;
}

a {
   color: #0000FF;
   text-decoration: underline;
}

a:visited {
   color: #800080;
}

a:active {
   color: #FF0000;
}

a:hover {
   color: #0000FF;
   text-decoration: underline;
}

input:focus,
textarea:focus,
select:focus {
   outline: none;
}

#PageHeader1 {
   background-color: #F5F5F5;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   display: flex;
   width: 100%;
   height: 71px;
}

#wb_Image1 {
   vertical-align: top;

   left: 10px;
   top: 72px;
   width: 363px;
   height: 178px;
}

#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#wb_Image3 {
   vertical-align: top;

   left: 136px;
   top: 281px;
   width: 110px;
   height: 77px;
}

#Image3 {
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
input[type="submit"]{
   padding: 5px;
}
.Button1 {
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: auto;
   width: 126px;
   height: 59px;
}
.Button1:hover{
   cursor: pointer;
}
.inactiveButton {
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: auto;
   width: 126px;
   height: 59px;
   background-color: #575758;
}

.inactiveButton:hover {
   cursor: not-allowed;
}

#wb_Image2 {
   display: flex;
   margin: auto;
   width: 70px;
   height: 49px;
}

#Image2 {
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: auto;
   width: 100%;
   height: 100%;
}

#MediaPlayer1 {
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#PageFooter1 {
   background-color: #F5F5F5;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;

   overflow: hidden;
   text-align: left;
   width: 100%;
   height: 100px;
}

.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: hidden;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Could be more or less, depending on screen size */
}

#wb_MediaPlayer1 {
   display: flex;
}
video{
   z-index: 3;
}
/* The Close Button */
.close {
   margin: auto;
   color: #aaa;
   font-size: 28px;
   font-weight: bold;
   z-index: 5;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}